<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>

    </head>
    <body>
        <% include ./partials/nav.ejs %>
        <div class="container">
            <div class="form-header">
                <h1 class="form-title">Title</h1>
                <p class="form-title-meta">Bootstrap is the most popular HTML, CSS...</p>
            </div>
        </div>

        <% include ./partials/footer.ejs %>
    </body>
</html>
